.form-group {
  padding-top: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.data-ojol {
  height: 100vh;
  overflow-x: hidden;
  overflow-x: auto;
}
.biodata {
  margin-top: 50px;
}
.biodata p {
  font-size: 20px;
  font-weight: bolder;
  padding: 5px 0;
}
