body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}
a:link,
a:visited {
  color: white;
  text-decoration: none;
}
.container {
  width: 960px;
  margin: 0 auto;
}
nav ul {
  list-style-type: none;
}
nav ul li a:hover {
  background-color: #6a89cc;
  color: white;
}
nav ul li a {
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s ease;
  margin-right: 20px;
}
nav {
  color: white;
  background-color: #4a69bd;
  padding: 10px 0;
}
header .container-50 {
  width: 50%;
  margin: 0 auto;
  padding: 50px 0;
}
header .container-80 {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}
header .logo-ead,
header .description-ead {
  width: 50%;
  min-height: 400px;
  color: white;
}
header .logo-ead {
  background-color: #1e3799;
  float: left;
}
header .description-ead {
  background-color: #0c2461;
  float: right;
}
header .logo-ead img {
  width: 300px;
}

section {
  padding: 10% 0;
}

section iframe {
  margin: 50px 0;
}

section form label {
  width: 200px;
  float: left;
}

section .form h2 {
  text-align: center;
}

section form input {
  margin: 10px 0;
}

section form button {
  margin-top: 50px;
  min-width: 100px;
  padding: 10px;
  font-size: 20px;
  color: white;
  background-color: #4a69bd;
}

/* Table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
