body {
  font-family: "Rubik", sans-serif;
  background-color: #f4f7f8;
}

.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#body {
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
}

header {
  /* border-bottom: 1px solid; */
}
header h1 {
  text-align: center;
}
header img {
  max-width: 150px;
}
header #logo {
  width: 50%;
  float: left;
}
header #identity {
  width: 50%;
  float: right;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 50px;
}

section {
  padding-bottom: 50px;
}

section .question {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
}

section button {
  background-color: #f44336;
  color: white;
  margin-top: 20px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  margin-left: 30px;
}
